@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight:700
}
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight:500
}
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight:400
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position:relative;
  
  
  font-family: 'Centra', sans-serif !important;
}

#light {
  color:#111010 !important;
  background-color: #efe6e6 !important;
}
#dark {
  color:#ffffff !important;
  background-color: #121212 !important;
}


h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  line-height: normal;
}
p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  
}
#light .scrolled{
  background-color: #ff9500;
}
#dark .scrolled{
  background-color: #121212;
}

nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
#light .navbar-link{
  color: #0b0b0b !important;
}
#dark .navbar-link{
  color: #fff !important;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    
}
#light .social-icon a{
  background-color: #0909091a;
  border: 1px solid rgba(19, 19, 19, 0.5);
}
#dark .social-icon a{
  background: rgba(217, 217, 217, 0.1);
  border: 1px solid rgba(10, 10, 10, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
#light .social-icon a::before{
  background-color: #f6f3f3;
}
#dark .social-icon a::before{
  background-color: #ffffff;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
  border-radius: 50px;
}
#light .navbar-text button{
  color: #100f0f;
  border: 1px solid #100f0f;
}
#dark .navbar-text button{
  color: #fff;
  border: 1px solid #fff;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: relative;
  border-radius: 50px;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
#dark .navbar-text button::before{
  background-color: #fff;
}
#light .navbar-text button::before{
  background-color: #171616;
}
#dark .navbar-text button:hover {
  color: #121212;
}
#light .navbar-text button:hover {
  color: #f0e9e9;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  transition: all 300ms linear;
  top: -2px;
}
#dark .navbar-toggler-icon {
  border-bottom: 2px solid #fff;
}
#light .navbar-toggler-icon {
  border-bottom: 2px solid #121111;
}
#dark .nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
#light .nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #171717;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
#dark .navbar-toggler-icon:before{
  background-color: #fff;
}
#light .navbar-toggler-icon:before{
  background-color: #080808;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	height: 2px;
}
#dark .navbar-toggler-icon:after{
  background-color: #fff;
}
#light .navbar-toggler-icon:after{
  background-color: #070707;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.modeswitch {
  display: flex;
  margin-left: 200px;
  justify-content: center;
  align-items: center;
  
}



.modeswitch .react-switch-handle {
  background-image: url('./assets/img/toggle.svg')!important;
  background-size: cover;
  background-position: center;
}



.modeswitch label {
  margin: 10px;
}

#light .modeswitch label {
  color: black;
}

#dark .modeswitch label {
  color: white;
}



/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

#light .banner{
  background-image: url('./assets/img/background.svg')!important;
}
#dark .banner{
  background-image: url('./assets/img/backgroung.jpg')!important;
}
/* .banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
} */
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
#dark .banner p{
  color: #ecebeb;
}
#light .banner p{
  color: #161515;
}
.banner button {
  
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
#dark .banner button{
  color: #fff;
}
#light .banner button{
  color: #111010;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
#dark .txt-rotate > .wrap {
  border-right: 0.08em solid #faf5f5;
}
#light .txt-rotate > .wrap {
  border-right: 0.08em solid #171717;
}
@media (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}
.resume_link{
  text-decoration: none;
}
/************ About CSS *************/
.title {
  text-align: center;
  padding: 20px 0px;
  
}
#dark .title {
  background: linear-gradient(90.21deg, #25406f -5.91%, #6e2d6b 25%, #6c2a42 75%, #6c442b 111.58%);
}
#light .title {
  background: linear-gradient(90.21deg, #ffd000 -5.91%, #ffdd00 25%, #ffea00 75%, #ffc300 111.58%);
}
.title h2 {
  font-size: 35px;
  font-weight: bold;
 
}

.aboutcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
#dark .aboutcontainer{
  background: linear-gradient(90.21deg, #25406f -5.91%, #6e2d6b 25%, #6c2a42 75%, #6c442b 111.58%);
}
#light .aboutcontainer{
  background: linear-gradient(90.21deg, #ffd000 -5.91%, #ffdd00 25%, #ffea00 75%, #ffc300 111.58%);
}

.description {
  text-align: justify;
  flex: 1 1 100%;
  padding: 20px;
  order: 2; /* Description comes second on mobile */
  
}

.about-image {
  flex: 1 1 100%;
  text-align: center;
  padding: 20px;
  order: 1; /* Image comes first on mobile */
}

.about-image img {
  width: 60%;
  height: auto;
  border-radius: 10px;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  .description {
    flex: 70%;
    padding: 40px 50px 50px 50px;
    order: 1; /* Description first on tablets and above */
  }

  .about-image {
    flex: 30%;
    padding: 40px 0px;
    order: 2; /* Image second on tablets and above */
  }

  .about-image img {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .description {
    padding: 40px 70px 50px 70px;
  }

  .about-image img {
    width: 70%;
  }
}



/************ Skills Css ************/
.skill {
  padding: 20px 0 50px 0;
  position: relative;
}

.skill-bx {
  
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
#dark .skill-bx{
  background: #151515;
}
#light .skill-bx{
  background: #f8d678;
}

.skill h2 {
  font-size: 45px;
  font-weight: 700;
}

.skill p {
  
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}
#dark .skill p{
  color: #B8B8B8;
}
#light .skill p{
  color: #0a0a0a;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

/* Updated styling for the items in the carousel */
.skill-slider .item {
  padding: 10px;
}

.skill-slider .skill-box {
  
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
#dark .skill-box{
  background-color: #252525;
}
#light .skill-box{
  background-color: #efeac0;
}

.skill-slider .skill-box img {
  width: 100%;
  margin-bottom: 20px;
}

.skill-slider .skill-box h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  
}
#dark .skill-box h5{
  color: #ffffff;
}
#light .skill-box h5{
  color: #171717;
}

.skill-slider .skill-box p {
  font-size: 14px;
  color: #B8B8B8;
}

.skill-slider .item:hover .skill-box {
  transform: scale(1.05);
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .skill-bx {
    padding: 40px 30px;
  }

  .skill h2 {
    font-size: 35px;
  }

  .skill p {
    font-size: 16px;
    margin: 10px 0 50px 0;
  }

  .skill-slider .skill-box {
    padding: 20px;
  }

  .skill-slider .skill-box img {
    width: 60%;
  }
}

/************ Skill Expertise **********/
.expertise {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
  width:100%;
  gap: 0px;
}
@media (max-width: 500px) {
  .expertise {
    justify-content: flex-start;
  }
}
.box {
  display: flex;
  align-items: center;
  gap:10px;
  width: 100px;
  height: 40px;
  margin: 5px;
  background-color: rgb(240, 243, 244);
  border-radius: 5px;
}
.image{
  width:32%;
  max-width: 100px;
  margin-top: 2px;
  margin-left: 10px;
}
.text{
  flex:1;
  margin-top: 20px;
  color: #000;
  
  margin-left: -2px;
}
.javascriptbox{
  display: flex;
  align-items: center;
  gap:10px;
  width: 150px;
  height: 40px;
  margin: 5px;
  background-color: rgb(240, 243, 244);
  border-radius: 5px;
}
.javascriptimage{
  width:25%;
  max-width: 100px;
  margin-top: 2px;
  margin-left: 10px;
}
.nodebox{
  display: flex;
  align-items: center;
  gap:10px;
  width: 125px;
  height: 40px;
  margin: 5px;
  background-color: rgb(240, 243, 244);
  border-radius: 5px;
}
.pythonbox{
  display: flex;
  align-items: center;
  gap:10px;
  width: 125px;
  height: 40px;
  margin: 5px;
  background-color: rgb(240, 243, 244);
  border-radius: 5px;
}
.pythonimage{
  width:29%;
  max-width: 100px;
  margin-top: 2px;
  margin-left: 10px;
}
/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  
}
#dark .project{
  background-color: black;
}
#light .project{
  background-color: rgb(249, 247, 198);
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}
.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
#dark .project p{
  color: #efebeb; 
}
#light .project p{
  color: #0f0f0f; 
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  
  overflow: hidden;
}
#dark .nav-pills{
  background-color: rgb(255 255 255 / 10%);
}
#light .nav-pills{
  background-color: rgba(12, 12, 12, 0.1);
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
#dark .nav-link{
  color: #fff;
}
#light .nav-link{
  color: #070707;
}
.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
#dark .nav-link::before{
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%); 
}
#light .nav-link::before{
  background: linear-gradient(90.21deg, #e8ea65 -5.91%, #fbab51 111.58%); 
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
#dark .project .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
}
#light .project .nav.nav-pills .nav-link.active {
  border: 1px solid rgb(238, 198, 88);
}
.nav-link#projects-tabs-tab-first {
  
  border-radius: 55px 0px 0px 55px;
}
#dark .nav-link#projects-tabs-tab-first{
  border: 1px solid rgba(255, 255, 255, 0.5);
}
#light .nav-link#projects-tabs-tab-first{
  border: 1px solid rgba(143, 142, 125, 0.5);
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}



/************ Projects Css ************/
.contact {
  

  padding: 60px 0 200px 0;
}
#dark .contact{
  background: linear-gradient(90.21deg, #25406f -5.91%, #6e2d6b 25%, #6c2a42 75%, #6c442b 111.58%);
}
#light .contact{
  background: linear-gradient(90.21deg, #ffd000 -5.91%, #ffdd00 25%, #ffea00 75%, #ffc300 111.58%);
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  
  border-radius: 20px;
  
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
#dark .contact form input, .contact form textarea{
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #f7f5f5;
}
#light .contact form input, .contact form textarea{
  background: rgba(230, 71, 87, 0.1);
  border: 1px solid rgba(70, 27, 4, 0.5);
  color: #080808;
}
#dark .contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
#light .contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}
.contactcontainer{
  display:flex;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 15px;
  
}
.connect{
  width:80%;
  height:90px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 1);
  
  border-radius: 40px;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.connectphone{
  display: flex;
  width: 50px;
  height:70px;
  margin-left: 5px;
  margin-top: -10px;
 
}
.connectphone span{
  margin-left: 25px;
  margin-top: 22px;
  color:#000

  
}
.connectphone a{
  margin-left: 25px;
  margin-top: 22px;
  text-decoration: none;
  
}

.phoneimage{
  width:50px;
  height:70px;
}

.phoneimage1{
  width:50px;
  height:70px;
  margin-top: 8px;
}
.contact-topic{
  
  margin-top: -140px;
  
}
@media only screen and (max-width: 770px) {
  .contact-topic {
    margin-top: 0;
  }
  .connect{
    height:90px;
    width:100%;
    
  }
  .phoneimage{
    margin-top: 0px;
    margin-left: 0px
  }
  .connectphone a{
    margin-top: 20px;
  }
}
.connectmessage {
  margin-top: 90px;
}


/************ Footer Css ************/
